# Large CSV data files
data/Base_Historica/Base_Historica/*
data/Datos_Procesados/*

# Caché de compilación Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales y configuraciones locales
venv/
env/
.env
.vscode/

# Caché de Jupyter Notebooks
.ipynb_checkpoints/

# Artefactos del Sistema Operativo
.DS_Store
Thumbs.db

# Compilación Latex
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.blg
*.bbl
*.synctex.gz
*.fls
*.fdb_latexmk
*.run.xml
*.bcf

/.quarto/
**/*.quarto_ipynb
