# Large CSV data files
data/Base_Historica/Base_Historica/*
data/Datos_Procesados/*

# Placeholders
!data/Base_Historica/Base_Historica/.gitkeep
!data/Datos_Procesados/.gitkeep
!diagrams/.gitkeep
!docs/.gitkeep
!models/.gitkeep
!notebooks/.gitkeep
!reports/.gitkeep
!src/.gitkeep
